.mainBody{
    padding: 10px;
    height: 100%;
}

.logo{
    height: 260px;
    width: 325px;
    background-image: url("../../assets/icon/foodlogo.png");
}

.inputElements{
    margin-top: 25%;
}
.item-native{
    background-color: aqua !important;
}

.submit{
    margin-top: 20px;
}